nav{
    width: 100%;
    img{
        margin-top: 2.188rem; /*35px*/  
        width: 68px;
        height: 56px;
    }
}

@media only screen and (min-width: 700px) {
    nav{
        img{
            margin-top: 1.563rem; /*25px*/ 
        }
    }
}
