.main__home .main__home__button,
.main__client .main__client__button,
.main__accordion .main__accordion__button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2.3rem;
}
.main__home button,
.main__client button,
.main__accordion button {
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer;
}
.main__home .main__home__button__one,
.main__client .main__client__button__one,
.main__accordion .main__accordion__button__one {
    background-color: transparent;
    border: var(--color-white) 1px solid;
    padding: 1.36rem 3.03rem;
}
.main__home .main__home__button__two,
.main__client .main__client__button__two,
.main__accordion .main__accordion__button__two {
    border: none;
    padding: 1.45rem 3.3rem;
    background-color: var(--color-orange);
}
/*section main*/
.main__home {
    .main__home__subtitle,
    .main__home__title {
        text-align: center;
    }
    .main__home__title {
        margin: -0.4rem auto 0 auto;
        max-width: 46rem;
    }
    .main__home__subtitle {
        font-size: 0.875rem;
        font-weight: 100;
        margin: 2.15rem auto 0.3rem auto;
        max-width: 28rem;
    }
    button{
        margin: 1.92rem 0.95rem 0 0.95rem;
    }
}
/*section client*/
.main__client > div{
    display: grid;
    grid-template-areas: 
    "titleClient"
    "cardClient"
    "buttonClient";
    .main__client__title{
        grid-area: titleClient;
    }
    >article{
        grid-area: cardClient;
    }
    .main__client__button{
        grid-area: buttonClient;
    }
}
.main__client {
    position: relative;
    .square{
        margin-bottom: 5rem;
    }
    .main__client__title{
        display: flex;
        flex-direction: column;
    }
    .main__client__title__one {
        align-self: flex-start;
        line-height: 3.9rem;
        padding-left: 0.5rem;
        position: absolute;
        top: 2.7rem;
        max-width: 250px;
    }
    .main__client__title__text {
        font-size: 1rem;
        line-height: 1.35rem;
        span {
            font-weight: bold;
        }
    }
    article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 590px;
        margin: 1rem auto 0 auto;
    }
    .main__client__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--color-gray-light);
        border-radius: 5px;
        padding: 1.5rem;
        max-width: 260px;
        margin: 0 auto 1rem auto;
        img{
            width: 99px;
            height: 96px;
        }
    }
    .main__client__card__title{
        text-transform: uppercase;
        font-size: 1rem;
        align-self: flex-start;
        color: var(--color-orange);
        padding-top: 1.55rem;
    }
    .main__client__button{
        margin: 0 auto;
    }
    .main__client__button__price{
        display: none;
    }
    button{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    button:last-of-type{
        margin-top: 1.92rem;
    }
}
/*section shine*/
.main__shine > div{
    display: flex;
    flex-direction: column;
}
.main__shine{
    position: relative;
    padding: 2.2rem 0 16rem 0;
    .main__shine__title,
    .main__shine__price{
        text-align: center;
    }
    .main__shine__price{
        background-color: var(--color-orange);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem; /*48*/
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2.2rem 0;
    }
    .main__shine__price__button{
        text-transform: uppercase;
        border-radius: 5px;
        color: var(--color-orange);
        border: none;
        padding: 1.4rem 3.6rem;
        margin: 1.6rem 0.3rem 0 0.3rem;
        font-weight: bold;
        cursor: pointer;
    }
    /* Fazendo a section shine e organizando os itens */
}
/*section accordion*/
.main__accordion{
    position: relative;
    .main__accordion__title{
        position: absolute;
        top: 2.66rem;
        padding-left: 0.56rem;
        max-width: 220px;
    }
    input{
        display: none;
    }
    label{
        display: flex;
        cursor: pointer;
        background-color: var(--color-gray-light);
        font-size: 1.25rem;
        padding: 0.7rem 1rem;
        display: flex;
        justify-content: space-between;
    }
    img{
        transform: rotate(180deg);
    }
    .main__accordion__item__content{
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        background-color: var(--color-gray-dark);
        span{
            display: none;
        }
    }
    [id^=accordion]:checked ~ .main__accordion__item__content{
        height: auto;
        padding: 1.5rem 2rem;
        border-top: 1px solid var(--color-orange);
        border-bottom: 1px solid var(--color-orange);
    }
    [id^=accordion]:checked ~ label p{
        font-weight: bold;
    }
    [id^=accordion]:checked ~ label img{
        transform: rotate(360deg);
    }
    button{
        margin-top: 2rem;
    }
}
/*section teacher*/
.main__team{
    .main__team__title__one{
        position: relative;
        top: 2.6rem;
        left: 0.5rem;
    }
    img{
        max-width: 267px;
    }
}

@media only screen and (min-width: 760px) {
    .main__home button,
    .main__client button {
        font-size: 0.84rem;
    }
    /*section main*/
    .main__home {
        .main__home__title {
            margin: 0 auto;
            padding-top: 5.8rem;
        }
        .main__home__subtitle {
            font-size: 1.25rem;
            margin-bottom: 3.36rem;
            margin-top: 1.3rem;
        }
        .main__home__button {
            padding-bottom: 7.9rem;
        }
    }

    /*section client*/
    .main__client>div {
        grid-template-areas:
            "titleClient buttonClient"
            "cardClient cardClient";
    }
    .main__client {
        .main__client__title {
            width: 450px;
        }
        .main__client__title__one {
            padding-left: 3.2rem;
            top: 5.6rem;
        }
        span {
            display: inline-block;
        }
        .main__client__title__text {
            font-size: 1.25rem;
            padding-left: 3.2rem;
            line-height: 1.625rem;
        }
        article {
            margin-top: 5rem;
            margin-bottom: 2.8rem;
        }
        .main__client__card {
            margin-bottom: 2.15rem;
        }
        .main__client__button {
            justify-content: start;
            flex-direction: column;
        }
        .main__client__button__price {
            display: flex;
            align-self: end;
            padding: 7.25rem 5.75rem 0.4rem 0;
        }
        button {
            margin: 0;
        }
        .main__client__button__one {
            padding: 1.4rem 1.3rem;
        }
        .main__client__button__two {
            padding: 1.4rem 1.5rem;
        }
    }

    /*section shine*/
    .main__shine {
        padding: 4rem 0;
        .main__shine__title h1 {
            max-width: 387px;
        }
        .main__shine__price {
            right: 0;
            bottom: 0;
            left: auto;
            top: 0;
            margin: 2.5rem 0;
            padding: 0 2.15rem;
        }
        .main__shine__price__button {
            padding: 1.4rem 3.1rem;
        }
    }

    /*section accordion*/
    .main__accordion > .container{
        position: relative;
    }
    .main__accordion {
        padding: 3.8rem 0;
        .square,
        .main__accordion__title {
            display: none;
        }
        article{
            display: flex;
        }
        label{
            padding: 0;
            position: relative;
            img{
                display: none;
            }
        }
        label p{
            padding: 1.66rem 1rem;
            font-size: 2rem;
            width: 230px;
        }
        label::after{
            content: '';
            width: 92%;
            height: 1px;
            background-color: var(--color-orange);
            position: absolute;
            bottom: 0.01rem;
            right: 0;
            visibility: hidden;
        }
        .main__accordion__item__content{
            width: calc(100% - 245px);
            position: absolute;
            right: 1rem;
            bottom: 0;
            top: 0;
            font-size: 1.25rem;
            z-index: 1;
            span{
                display: inline;
                font-weight: bold;
            }
        }
        [id^=accordion]:checked ~ .main__accordion__item__content{
            padding: 4rem 2rem 7.5rem 2rem;
            border: none;
            overflow: auto;
        }
        // scrow no conteúdo do section main__accordion
        [id^=accordion]:checked ~ label::after{
            visibility: visible;
        }
        .main__accordion__button{
            position: absolute;
            bottom: 0;
            right: 2.2rem;
            left: 230px;
            padding-right: 1rem;
            padding-bottom: 4.2rem;
            z-index: 1;
            background-color: var(--color-gray-dark);
            justify-content: end;
        }
        .main__accordion__button button{
            border: none;
            background-color: transparent;
            font-size: 1.04rem;
            font-weight: bold;
            padding: 0 1rem;
        }
        .main__accordion__button__two{
            color: var(--color-orange);
        }
    }

    /*section teacher*/
    .main__team{
        .main__team__title__one{
            top: 5.4rem;
            left: 3.2rem;
        }
    }
}
@media only screen and (min-width: 1034px){
    /*section main*/
    .main__home{
        .main__home__title{
            padding: 7.4rem auto 0 auto;
        }
        .main__home__button{
            padding-bottom: 11.3rem;
        }
    }
    /*section client*/
    .main__client>div {
        grid-template-areas:
            "titleClient cardClient"
            "buttonClient cardClient"
            "buttonClient cardClient";
    }
    .main__client{
        .square{
            margin-bottom: 6.7rem;
        }
        .main__client__title__one {
            font-size: 4rem;
            line-height: 5.3rem;
            padding-left: 4.9rem;
            top: 7.3rem;
        }
        .main__client__title__text {
            padding: 0 0 1.9rem 5rem;
        }
        article{
            margin: 3.46rem auto 7.7rem auto;
        }
        .main__client__card__title{
            padding-top: 1rem;
            margin-bottom: 0rem;
        }
        .main__client__button{
            display: grid;
            margin-bottom: 4rem;
            grid-template-areas: 
            ". btnPriceClient"
            "btnLeftClient btnRightClient";
        }
        .main__client__button__price{
            grid-area: btnPriceClient;
            padding: 0 0 0.5rem 2rem;
        }
        button.main__client__button__one{
            grid-area: btnLeftClient;
        }
        button.main__client__button__two{
            grid-area: btnRightClient;
            margin: 0 0 0 2rem;
        }
    }
    /*section shine*/
    .main__shine{
        padding: 8rem 0;
        .main__shine__title{
            h1{
                font-size: 3rem;
                line-height: 3.891rem;
                margin-right: 31rem;
                max-width: 706px;
            }
        }
        .main__shine__price{
            margin: 2.5rem 0;
            padding: 0 6rem;
            font-size: 4rem;
        }
    }

    /*section accordion*/
    .main__accordion {
        padding: 7.3rem 0;
        label p{
            padding: 1.67rem 1rem;
            text-align: center;
            font-size: 2rem;
            width: 460px;
        }
        label::after{
            width: 71%;
        }
        .main__accordion__item__content{
            width: calc(100% - 470px);
        }
        .main__accordion__button{
            left: 460px;
            justify-content: center;
        }
    }

    /*section teacher*/
    .main__team{
        .main__team__title__one{
            top: 7.4rem;
            left: 4.2rem;
        }
        /*Criando a estrutura do team e ajeitando o titulo*/
    }
}