.main__home .main__home__button,
.main__client .main__client__button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2.3rem;
}
.main__home button,
.main__client button {
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer;
}
.main__home .main__home__button__one,
.main__client .main__client__button__one {
    background-color: transparent;
    border: var(--color-white) 1px solid;
    padding: 1.36rem 3.03rem;
}
.main__home .main__home__button__two,
.main__client .main__client__button__two {
    border: none;
    padding: 1.45rem 3.3rem;
    background-color: var(--color-orange);
}
/*section main*/
.main__home {
    .main__home__subtitle,
    .main__home__title {
        text-align: center;
    }
    .main__home__title {
        margin: -0.4rem auto 0 auto;
        max-width: 46rem;
    }
    .main__home__subtitle {
        font-size: 0.875rem;
        font-weight: 100;
        margin: 2.15rem auto 0.3rem auto;
        max-width: 28rem;
    }
    button{
        margin: 1.92rem 0.95rem 0 0.95rem;
    }
}
/*section client*/
.main__client > div{
    display: grid;
    grid-template-areas: 
    "titleClient"
    "cardClient"
    "buttonClient";
    .main__client__title{
        grid-area: titleClient;
    }
    >article{
        grid-area: cardClient;
    }
    .main__client__button{
        grid-area: buttonClient;
    }
}
.main__client {
    .main__client__title{
        display: flex;
        flex-direction: column;
    }
    .main__client__title__one,
    .main__client__title__two {
        align-self: flex-start;
        line-height: 3rem;
    }
    .main__client__title__one {
        border-bottom: 1px solid var(--color-orange);
        border-left: 1px solid var(--color-orange);
        border-right: 1px solid var(--color-orange);
        padding: 3.2rem 0.8rem 0rem 0.5rem;
    }
    .main__client__title__two {
        padding: 0.8rem 0 1.2rem 0.563rem;
    }
    .main__client__title__text {
        font-size: 1rem;
        line-height: 1.35rem;
        span {
            font-weight: bold;
        }
    }
    article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 590px;
        margin: 1rem auto 0 auto;
    }
    .main__client__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--color-gray-light);
        border-radius: 5px;
        padding: 1.5rem;
        max-width: 260px;
        margin: 0 auto 1rem auto;
        img{
            width: 99px;
            height: 96px;
        }
    }
    .main__client__card__title{
        text-transform: uppercase;
        font-size: 1rem;
        align-self: flex-start;
        color: var(--color-orange);
        padding-top: 1.55rem;
    }
    .main__client__button{
        margin: 0 auto;
    }
    .main__client__button__label{
        display: none;
    }
    button{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    button:last-of-type{
        margin-top: 1.92rem;
    }
}

@media only screen and (min-width: 760px) {
    .main__home button,
    .main__client button {
        font-size:0.84rem;
    }
    /*section main*/
    .main__home {
        .main__home__title {
            margin: 0 auto;
            padding-top: 5.8rem;
        }
        .main__home__subtitle {
            font-size: 1.25rem;
            margin-bottom: 3.36rem;
            margin-top: 1.3rem;
        }
        .main__home__button {
            padding-bottom: 7.9rem;
        }
    }
    /*section client*/
    .main__client>div {
        grid-template-areas:
            "titleClient buttonClient"
            "cardClient cardClient";
    }
    .main__client {
        .main__client__title{
            width: 450px;
        }
        .main__client__title__one {
            padding: 5.9rem 0.9rem 0.4rem 3.2rem;
        }
        .main__client__title__two {
            padding: 0.4rem 0 1.6rem 3.2rem;
        }
        span{
            display: inline-block;
        }
        .main__client__title__text {
            font-size: 1.25rem;
            padding-left: 3.2rem; 
            line-height: 1.625rem;
        }
        article{
            margin-top: 5rem;
            margin-bottom: 2.8rem;
        }
        .main__client__card{
            margin-bottom: 2.15rem;
        }
        .main__client__button{
            justify-content: start;
            flex-direction: column;
            /**/
        }
        .main__client__button__label{
            display: flex;
            align-self: end;
            padding: 7.25rem 5.75rem 0.4rem 0;
        }
        button{
            margin: 0;
        }
        .main__client__button__one{
            padding: 1.4rem 1.3rem;
        }
        .main__client__button__two{
            padding: 1.4rem 1.5rem;
        }
    }
}
@media only screen and (min-width: 1034px){
    /*section main*/
    .main__home{
        .main__home__title{
            padding: 7.4rem auto 0 auto;
        }
        .main__home__button{
            padding-bottom: 11.3rem;
        }
    }
    /*section client*/
    .main__client>div {
        grid-template-areas:
            "titleClient cardClient"
            "buttonClient cardClient"
            "buttonClient cardClient";
    }
    .main__client{
        .main__client__title__one {
            font-size: 4rem;
            padding: 8.4rem 0.4rem 1rem 5rem;
            margin-left: 0;
        }
        .main__client__title__two {
            font-size: 4rem;
            padding: 0.9rem 0 2.4rem 5rem;
            margin-left: 0;
            margin-top: 0;
        }
        .main__client__title__text {
            padding: 0 0 1.9rem 5rem;
        }
        article{
            margin: 3.46rem auto 7.7rem auto;
        }
        .main__client__card__title{
            padding-top: 1rem;
            margin-bottom: 0rem;
        }
        .main__client__button{
            display: grid;
            margin-bottom: 4rem;
            grid-template-areas: 
            ". btnLabelClient"
            "btnLeftClient btnRightClient";
        }
        .main__client__button__label{
            grid-area: btnLabelClient;
            padding: 0 0 0.5rem 2rem;
        }
        button.main__client__button__one{
            grid-area: btnLeftClient;
        }
        button.main__client__button__two{
            grid-area: btnRightClient;
            margin: 0 0 0 2rem;
        }
    }
}