/*section modal*/
.main__modal{
    display: none;
    background-color: rgba(#2C2C2C, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    margin: 0;
    justify-content: center;
    align-items: center;
    .container{
        max-width: 614px;
        display: flex;
        flex-direction: column;
        margin: 1.3rem;
        height: auto;
        min-height: 670px;
    }
    .main__modal__close{
        color: var(--color-gray-light);
        align-self: flex-end;
        font-size: 3.8rem;
        font-weight: 100;
        transform: scaleX(1.5);
        padding-right: 0.6rem;
    }
    .main__modal__close:hover{
        color: var(--color-white);
    }
    form{
        padding: 0 3.4rem 2.5rem 3.4rem;
        overflow: hidden;
    }
    .input__modal__check,
    #terms,
    input.main__modal__button{
        cursor: pointer;
    }
    .main__modal__title{
        text-transform: uppercase;
        font-size: 1.8rem;
        text-align: center;
        color: var(--color-orange);
        padding-bottom: 0.6rem;
    }
    .main__modal__group{
        position: relative;
        margin: 1.5rem 0;
    }
    input:not([type="checkbox"]){
        color: var(--color-orange);
        background-color: var(--color-white);
        width: 100%;
        padding: 0.7rem 1.2rem;
        border: 1px solid var(--color-orange);
        outline: 1px solid var(--color-orange);
        border-radius: 4px;
    }
    label:not([for="terms"]){
        color: var(--color-orange);
        pointer-events: none;
        border-bottom: 1px solid #ffffff;
        left: 0;
        bottom: 0;
    }
    span{
        position: absolute;
        bottom: 0.5rem;
        left: 1.3rem;
        transition: all 0.3s ease;
    }  
    input:focus + label span,
    input:valid + label span {
        transform: translateY(-150%);
        font-size: 0.8rem;
        bottom: 0.2rem;
        left: 0.2rem;
        padding: 0 0.3rem;
        text-shadow: 0.4px 0.4px #000;
    }
    input:focus,
    input:valid {
        padding-top: 1.5rem;
    }
    .main__modal__check{
        display: inline-block;
        color: var(--color-white);
        margin-top: 0.5rem;
        a{
            color: var(--color-white);
        }
        a:hover{
            text-decoration: underline;
        }
    }
    #terms{
        border: 0;
        position: relative;
    }
    #terms::before,
    #terms:checked::before{
        content: "";
        display: block;
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        top: 0;
        left: 0;
    }
    #terms::before{
        background-color: #000;
        border: 1px solid var(--color-orange);
    }
    #terms:checked::before{
        background-color: var(--color-orange);
    }
    #terms:checked::after{
        content: "";
        display: block;
        width: 0.3rem;
        height: 0.6rem;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 0rem;
        left: 0.24rem;
    }
    .main__modal__terms{
        display: inline-block;
        position: relative;
        left: 1.5rem;
        bottom: 2rem;
        margin-right: 2rem;
    }
    input.main__modal__button{
        text-transform: uppercase;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        background-color: var(--color-orange);
        color: var(--color-white);
        margin-top: -0.7rem;
    }
    // https://johnywalves.com.br/input-estilizado/
}

@media only screen and (min-width: 378px) {
    /*section modal*/
    .main__modal{
        .main__modal__check{
            margin-top: 0rem;
        }
        .main__modal__terms{
            margin-right: 0;
            padding-left: 0.5rem;
            position: static;
        }
        input.main__modal__button{
            margin-top: 1.3rem;
        }
    }
}

@media only screen and (min-width: 760px) {}

@media only screen and (min-width: 1034px){}