nav {
  width: 100%;
}
nav img {
  margin-top: 2.188rem;
  width: 68px;
  height: 56px;
}

@media only screen and (min-width: 760px) {
  nav img {
    margin-top: 1.563rem;
    width: 110px;
    height: 90px;
  }
}
.main__home .main__home__group,
.main__client .main__client__button,
.main__accordion .main__accordion__group,
.main__team .main__team__group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2.3rem;
}

.main__home button,
.main__client button,
.main__accordion button,
.main__team button {
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}

.main__home .main__home__btnOne,
.main__client .main__home__btnOne,
.main__accordion .main__accordion__btnOne,
.main__team .main__team__btnOne {
  background-color: transparent;
  border: var(--color-white) 1px solid;
  padding: 1.36rem 3.03rem;
}

.main__home .main__home__btnTwo,
.main__client .main__home__btnTwo,
.main__accordion .main__accordion__btnTwo,
.main__team .main__team__btnTwo {
  border: none;
  padding: 1.45rem 3.3rem;
  background-color: var(--color-orange);
}

/*section main*/
.main__home .main__home__subtitle,
.main__home .main__home__title {
  text-align: center;
}
.main__home .main__home__title {
  margin: -0.4rem auto 0 auto;
  max-width: 46rem;
}
.main__home .main__home__subtitle {
  font-size: 0.875rem;
  font-weight: 100;
  margin: 2.15rem auto 0.3rem auto;
  max-width: 28rem;
}
.main__home button {
  margin: 1.92rem 0.95rem 0 0.95rem;
}

/*section client*/
.main__client > div {
  display: grid;
  grid-template-areas: "titleClient" "cardClient" "buttonClient";
}
.main__client > div .main__client__group {
  grid-area: titleClient;
}
.main__client > div > article {
  grid-area: cardClient;
}
.main__client > div .main__client__button {
  grid-area: buttonClient;
}

.main__client {
  position: relative;
}
.main__client .square {
  margin-bottom: 5rem;
}
.main__client .main__client__group {
  display: flex;
  flex-direction: column;
}
.main__client .main__client__title {
  align-self: flex-start;
  line-height: 3.9rem;
  padding-left: 0.5rem;
  position: absolute;
  top: 2.7rem;
  max-width: 250px;
}
.main__client .main__client__subtitle {
  font-size: 1rem;
  line-height: 1.35rem;
}
.main__client .main__client__subtitle span {
  font-weight: bold;
}
.main__client article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 590px;
  margin: 1rem auto 0 auto;
}
.main__client .main__client__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 260px;
  margin: 0 auto 1rem auto;
}
.main__client .main__client__card img {
  width: 99px;
  height: 96px;
}
.main__client .main__client__text {
  text-transform: uppercase;
  font-size: 1rem;
  align-self: flex-start;
  color: var(--color-orange);
  padding-top: 1.55rem;
}
.main__client .main__client__button {
  margin: 0 auto;
}
.main__client .main__client__price {
  display: none;
}
.main__client button {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.main__client button:last-of-type {
  margin-top: 1.92rem;
}

/*section shine*/
.main__shine > div {
  display: flex;
  flex-direction: column;
}

.main__shine {
  position: relative;
  padding: 2.2rem 0 16rem 0;
  /* Fazendo a section shine e organizando os itens */
}
.main__shine .main__shine__title,
.main__shine .main__shine__price {
  text-align: center;
}
.main__shine .main__shine__price {
  background-color: var(--color-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem; /*48*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2.2rem 0;
}
.main__shine .main__shine__button {
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--color-orange);
  border: none;
  padding: 1.4rem 3.6rem;
  margin: 1.6rem 0.3rem 0 0.3rem;
  font-weight: bold;
  cursor: pointer;
}

/*section accordion*/
.main__accordion {
  position: relative;
}
.main__accordion .main__accordion__title {
  position: absolute;
  top: 2.66rem;
  padding-left: 0.56rem;
  max-width: 220px;
}
.main__accordion input {
  display: none;
}
.main__accordion label {
  display: flex;
  cursor: pointer;
  background-color: var(--color-gray-light);
  font-size: 1.25rem;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
}
.main__accordion img {
  transform: rotate(180deg);
}
.main__accordion .main__accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  background-color: var(--color-gray-dark);
}
.main__accordion .main__accordion__content span {
  display: none;
}
.main__accordion [id^=accordion]:checked ~ .main__accordion__content {
  height: auto;
  padding: 1.5rem 2rem;
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}
.main__accordion [id^=accordion]:checked ~ label p {
  font-weight: bold;
}
.main__accordion [id^=accordion]:checked ~ label img {
  transform: rotate(360deg);
}
.main__accordion button {
  margin-top: 2rem;
}

/*section team*/
.main__team .main__team__title {
  position: relative;
  top: 2.6rem;
  left: 0.5rem;
}
.main__team article {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.main__team .main__team__card {
  border-radius: 5px;
  border: 1px solid var(--color-gray-light);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 1.9rem;
}
.main__team .main__team__text {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-orange);
  padding: 1.5rem 0 0.5rem 0;
}
.main__team .main__team__subtext {
  padding-right: 1rem;
}
.main__team img {
  width: 100%;
}
.main__team .main__team__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main__team .main__team__btnOne {
  margin-bottom: 1.9rem;
}

/*section feedback*/
.main__feedback {
  padding: 4.5rem 0 3.5rem 0;
}
.main__feedback .main__feedback__item {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.main__feedback .main__feedback__content {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.main__feedback .main__feedback__name,
.main__feedback .main__feedback__description {
  text-transform: uppercase;
  color: var(--color-orange);
  font-size: 1.25rem;
}
.main__feedback .main__feedback__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main__feedback .main__feedback__navItem {
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 35px;
  margin: 10px 0;
  color: var(--color-gray-light);
}
.main__feedback .main__feedback--white {
  color: transparent;
  height: 4px;
  width: 50px;
  background-color: var(--color-white);
}
.main__feedback .main__feedback__navItem:hover:not(.main__feedback--white) {
  width: 35px;
  color: var(--color-white);
}
.main__feedback .main__feedback--white {
  margin-right: 20px;
}

@media only screen and (min-width: 760px) {
  .main__home button,
.main__client button {
    font-size: 0.84rem;
  }
  /*section main*/
  .main__home .main__home__title {
    margin: 0 auto;
    padding-top: 5.8rem;
  }
  .main__home .main__home__subtitle {
    font-size: 1.25rem;
    margin-bottom: 3.36rem;
    margin-top: 1.3rem;
  }
  .main__home .main__home__group {
    padding-bottom: 7.9rem;
  }
  /*section client*/
  .main__client > div {
    grid-template-areas: "titleClient buttonClient" "cardClient cardClient";
  }
  .main__client .main__client__group {
    width: 450px;
  }
  .main__client .main__client__title {
    padding-left: 3.2rem;
    top: 5.6rem;
  }
  .main__client span {
    display: inline-block;
  }
  .main__client .main__client__subtitle {
    font-size: 1.25rem;
    padding-left: 3.2rem;
    line-height: 1.625rem;
  }
  .main__client article {
    margin-top: 5rem;
    margin-bottom: 2.8rem;
  }
  .main__client .main__client__card {
    margin-bottom: 2.15rem;
  }
  .main__client .main__client__button {
    justify-content: start;
    flex-direction: column;
  }
  .main__client .main__client__price {
    display: flex;
    align-self: end;
    padding: 7.25rem 5.75rem 0.4rem 0;
  }
  .main__client button {
    margin: 0;
  }
  .main__client .main__home__btnOne {
    padding: 1.4rem 1.3rem;
  }
  .main__client .main__home__btnTwo {
    padding: 1.4rem 1.5rem;
  }
  /*section shine*/
  .main__shine {
    padding: 4rem 0;
  }
  .main__shine .main__shine__title h1 {
    max-width: 387px;
  }
  .main__shine .main__shine__price {
    right: 0;
    bottom: 0;
    left: auto;
    top: 0;
    margin: 2.5rem 0;
    padding: 0 2.15rem;
  }
  .main__shine .main__shine__button {
    padding: 1.4rem 3.1rem;
  }
  /*section accordion*/
  .main__accordion > .container {
    position: relative;
  }
  .main__accordion {
    padding: 3.8rem 0;
  }
  .main__accordion .square,
.main__accordion .main__accordion__title {
    display: none;
  }
  .main__accordion article {
    display: flex;
  }
  .main__accordion label {
    padding: 0;
    position: relative;
  }
  .main__accordion label img {
    display: none;
  }
  .main__accordion label p {
    padding: 1.66rem 1rem;
    font-size: 2rem;
    width: 230px;
  }
  .main__accordion label::after {
    content: "";
    width: 92%;
    height: 1px;
    background-color: var(--color-orange);
    position: absolute;
    bottom: 0.01rem;
    right: 0;
    visibility: hidden;
  }
  .main__accordion .main__accordion__content {
    width: calc(100% - 245px);
    position: absolute;
    right: 1rem;
    bottom: 0;
    top: 0;
    font-size: 1.25rem;
    z-index: 1;
  }
  .main__accordion .main__accordion__content span {
    display: inline;
    font-weight: bold;
  }
  .main__accordion [id^=accordion]:checked ~ .main__accordion__content {
    padding: 4rem 2rem 7.5rem 2rem;
    border: none;
    overflow: auto;
  }
  .main__accordion [id^=accordion]:checked ~ label::after {
    visibility: visible;
  }
  .main__accordion .main__accordion__group {
    position: absolute;
    bottom: 0;
    right: 2.2rem;
    left: 230px;
    padding-right: 1rem;
    padding-bottom: 4.2rem;
    z-index: 1;
    background-color: var(--color-gray-dark);
    justify-content: end;
  }
  .main__accordion .main__accordion__group button {
    border: none;
    background-color: transparent;
    font-size: 1.04rem;
    font-weight: bold;
    padding: 0 1rem;
  }
  .main__accordion .main__accordion__btnTwo {
    color: var(--color-orange);
  }
  /*section team*/
  .main__team {
    width: 100%;
  }
  .main__team .main__team__title {
    top: 5.4rem;
    left: 3.2rem;
  }
  .main__team article {
    justify-content: space-between;
    margin: 0 0 1.3rem 0;
  }
  .main__team .main__team__card {
    margin-bottom: 1.2rem;
    max-width: 333px;
  }
  .main__team .main__team__subtext {
    padding-right: 0.5rem;
  }
  .main__team .main__team__group {
    padding: 1.3rem 0 5rem 0;
  }
  .main__team .main__team__btnOne {
    padding: 1.3rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .main__team .main__team__btnTwo {
    padding: 1.4rem 1.6rem;
  }
  /*section feedback*/
  .main__feedback .container {
    position: relative;
  }
  .main__feedback {
    padding: 1.5rem 0 2.5rem 0;
  }
  .main__feedback .main__feedback__content,
.main__feedback .main__feedback__name,
.main__feedback .main__feedback__description {
    padding: 0 5rem;
  }
  .main__feedback .main__feedback__navItem:hover {
    width: 60px;
  }
  .main__feedback .main__feedback__left,
.main__feedback .main__feedback__right {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    border-bottom: 5px solid var(--color-gray-light);
    border-left: 5px solid var(--color-gray-light);
    border-bottom-left-radius: 3px;
  }
  .main__feedback .main__feedback__left {
    position: absolute;
    left: 1.5rem;
    transform: rotate(50deg);
  }
  .main__feedback .main__feedback__right {
    position: absolute;
    right: 1.5rem;
    transform: rotate(-135deg);
  }
}
@media only screen and (min-width: 1034px) {
  /*section main*/
  .main__home .main__home__title {
    padding: 7.4rem auto 0 auto;
  }
  .main__home .main__home__group {
    padding-bottom: 11.3rem;
  }
  /*section client*/
  .main__client > div {
    grid-template-areas: "titleClient cardClient" "buttonClient cardClient" "buttonClient cardClient";
  }
  .main__client .square {
    margin-bottom: 6.7rem;
  }
  .main__client .main__client__title {
    font-size: 4rem;
    line-height: 5.3rem;
    padding-left: 4.9rem;
    top: 7.3rem;
  }
  .main__client .main__client__subtitle {
    padding: 0 0 1.9rem 5rem;
  }
  .main__client article {
    margin: 3.46rem auto 7.7rem auto;
  }
  .main__client .main__client__text {
    padding-top: 1rem;
    margin-bottom: 0rem;
  }
  .main__client .main__client__button {
    display: grid;
    margin-bottom: 4rem;
    grid-template-areas: ". btnPriceClient" "btnLeftClient btnRightClient";
  }
  .main__client .main__client__price {
    grid-area: btnPriceClient;
    padding: 0 0 0.5rem 2rem;
  }
  .main__client button.main__home__btnOne {
    grid-area: btnLeftClient;
  }
  .main__client button.main__home__btnTwo {
    grid-area: btnRightClient;
    margin: 0 0 0 2rem;
  }
  /*section shine*/
  .main__shine {
    padding: 8rem 0;
  }
  .main__shine .main__shine__title h1 {
    font-size: 3rem;
    line-height: 3.891rem;
    margin-right: 31rem;
    max-width: 706px;
  }
  .main__shine .main__shine__price {
    margin: 2.5rem 0;
    padding: 0 6rem;
    font-size: 4rem;
  }
  /*section accordion*/
  .main__accordion {
    padding: 7.3rem 0;
  }
  .main__accordion label p {
    padding: 1.67rem 1rem;
    text-align: center;
    font-size: 2rem;
    width: 460px;
  }
  .main__accordion label::after {
    width: 71%;
  }
  .main__accordion .main__accordion__content {
    width: calc(100% - 470px);
  }
  .main__accordion .main__accordion__group {
    left: 460px;
    justify-content: center;
  }
  /*section team*/
  .main__team .main__team__title {
    top: 7.4rem;
    left: 4.2rem;
  }
  .main__team article {
    padding-top: 4rem;
  }
  .main__team .main__team__card {
    max-width: 350px;
  }
  .main__team .main__team__subtext {
    padding-right: 0;
  }
  .main__team .main__team__group {
    padding: 2.5rem 0 8rem 0;
  }
  /*section feedback*/
  .main__feedback {
    padding: 2rem 0 3rem 0;
  }
}
footer {
  height: 300px;
}

:root {
  --color-gray: #B5B5B5;
  --color-gray-light: #6E6E6E;
  --color-gray-dark: #262626;
  --color-orange: #F89D24;
  --color-white: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  color: var(--color-white);
  background-color: #000;
}

.main__feedback__left:hover,
.main__feedback__right:hover {
  border-color: var(--color-white);
}

button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

h1 {
  font-size: 2.85rem;
  line-height: 3.875rem;
  font-weight: bold;
}

.square {
  width: 6.6rem;
  height: 6.3rem;
  border-right: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  border-left: 1px solid var(--color-orange);
  margin-bottom: 6rem;
  position: relative;
}

.container {
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

header,
main,
footer {
  width: 100%;
}

header,
#main .main__home {
  background: linear-gradient(90deg, #1A1A1A 0%, #2C2C2C 100%);
}

#main .main__client {
  background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

#main .main__shine {
  background-image: url("../../image/vector.svg");
  background-repeat: repeat-x;
}

#main .main__accordion {
  background-image: url("../../image/teacher_bnw.svg");
  background-size: cover;
  background-position: bottom left;
}

#main .main__team {
  background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
}

#main .main__feedback {
  background-image: url("../../image/opiniao.svg");
  background-size: cover;
  background-position: center;
  border: 1px solid #C00;
}

@media only screen and (min-width: 760px) {
  .container {
    max-width: 720px;
    padding: 0 1rem;
  }
  .square {
    width: 9.5rem;
    height: 9.4rem;
  }
}
@media only screen and (min-width: 1034px) {
  h1 {
    font-size: 4rem;
    line-height: 5.188rem;
  }
  .container {
    max-width: 1120px;
  }
  .square {
    width: 12.5rem;
    height: 12.4rem;
  }
}/*# sourceMappingURL=style.css.map */