nav {
  width: 100%;
}
nav img {
  margin-top: 2.188rem;
  width: 68px;
  height: 56px;
}

@media only screen and (min-width: 760px) {
  nav img {
    margin-top: 1.563rem;
    width: 110px;
    height: 90px;
  }
}
.main__home .main__home__button,
.main__client .main__client__button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 2.3rem;
}

.main__home button,
.main__client button {
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}

.main__home .main__home__button__one,
.main__client .main__client__button__one {
  background-color: transparent;
  border: var(--color-white) 1px solid;
  padding: 1.36rem 3.03rem;
}

.main__home .main__home__button__two,
.main__client .main__client__button__two {
  border: none;
  padding: 1.45rem 3.3rem;
  background-color: var(--color-orange);
}

/*section main*/
.main__home .main__home__subtitle,
.main__home .main__home__title {
  text-align: center;
}
.main__home .main__home__title {
  margin: -0.4rem auto 0 auto;
  max-width: 46rem;
}
.main__home .main__home__subtitle {
  font-size: 0.875rem;
  font-weight: 100;
  margin: 2.15rem auto 0.3rem auto;
  max-width: 28rem;
}
.main__home button {
  margin: 1.92rem 0.95rem 0 0.95rem;
}

/*section client*/
.main__client > div {
  display: grid;
  grid-template-areas: "titleClient" "cardClient" "buttonClient";
}
.main__client > div .main__client__title {
  grid-area: titleClient;
}
.main__client > div > article {
  grid-area: cardClient;
}
.main__client > div .main__client__button {
  grid-area: buttonClient;
}

.main__client .main__client__title {
  display: flex;
  flex-direction: column;
}
.main__client .main__client__title__one,
.main__client .main__client__title__two {
  align-self: flex-start;
  line-height: 3rem;
}
.main__client .main__client__title__one {
  border-bottom: 1px solid var(--color-orange);
  border-left: 1px solid var(--color-orange);
  border-right: 1px solid var(--color-orange);
  padding: 3.2rem 0.8rem 0rem 0.5rem;
}
.main__client .main__client__title__two {
  padding: 0.8rem 0 1.2rem 0.563rem;
}
.main__client .main__client__title__text {
  font-size: 1rem;
  line-height: 1.35rem;
}
.main__client .main__client__title__text span {
  font-weight: bold;
}
.main__client article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 590px;
  margin: 1rem auto 0 auto;
}
.main__client .main__client__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 260px;
  margin: 0 auto 1rem auto;
}
.main__client .main__client__card img {
  width: 99px;
  height: 96px;
}
.main__client .main__client__card__title {
  text-transform: uppercase;
  font-size: 1rem;
  align-self: flex-start;
  color: var(--color-orange);
  padding-top: 1.55rem;
}
.main__client .main__client__button {
  margin: 0 auto;
}
.main__client .main__client__button__label {
  display: none;
}
.main__client button {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.main__client button:last-of-type {
  margin-top: 1.92rem;
}

@media only screen and (min-width: 760px) {
  .main__home button,
.main__client button {
    font-size: 0.84rem;
  }
  /*section main*/
  .main__home .main__home__title {
    margin: 0 auto;
    padding-top: 5.8rem;
  }
  .main__home .main__home__subtitle {
    font-size: 1.25rem;
    margin-bottom: 3.36rem;
    margin-top: 1.3rem;
  }
  .main__home .main__home__button {
    padding-bottom: 7.9rem;
  }
  /*section client*/
  .main__client > div {
    grid-template-areas: "titleClient buttonClient" "cardClient cardClient";
  }
  .main__client .main__client__title {
    width: 450px;
  }
  .main__client .main__client__title__one {
    padding: 5.9rem 0.9rem 0.4rem 3.2rem;
  }
  .main__client .main__client__title__two {
    padding: 0.4rem 0 1.6rem 3.2rem;
  }
  .main__client span {
    display: inline-block;
  }
  .main__client .main__client__title__text {
    font-size: 1.25rem;
    padding-left: 3.2rem;
    line-height: 1.625rem;
  }
  .main__client article {
    margin-top: 5rem;
    margin-bottom: 2.8rem;
  }
  .main__client .main__client__card {
    margin-bottom: 2.15rem;
  }
  .main__client .main__client__button {
    justify-content: start;
    flex-direction: column;
    /**/
  }
  .main__client .main__client__button__label {
    display: flex;
    align-self: end;
    padding: 7.25rem 5.75rem 0.4rem 0;
  }
  .main__client button {
    margin: 0;
  }
  .main__client .main__client__button__one {
    padding: 1.4rem 1.3rem;
  }
  .main__client .main__client__button__two {
    padding: 1.4rem 1.5rem;
  }
}
@media only screen and (min-width: 1034px) {
  /*section main*/
  .main__home .main__home__title {
    padding: 7.4rem auto 0 auto;
  }
  .main__home .main__home__button {
    padding-bottom: 11.3rem;
  }
  /*section client*/
  .main__client > div {
    grid-template-areas: "titleClient cardClient" "buttonClient cardClient" "buttonClient cardClient";
  }
  .main__client .main__client__title__one {
    font-size: 4rem;
    padding: 8.4rem 0.4rem 1rem 5rem;
    margin-left: 0;
  }
  .main__client .main__client__title__two {
    font-size: 4rem;
    padding: 0.9rem 0 2.4rem 5rem;
    margin-left: 0;
    margin-top: 0;
  }
  .main__client .main__client__title__text {
    padding: 0 0 1.9rem 5rem;
  }
  .main__client article {
    margin: 3.46rem auto 7.7rem auto;
  }
  .main__client .main__client__card__title {
    padding-top: 1rem;
    margin-bottom: 0rem;
  }
  .main__client .main__client__button {
    display: grid;
    margin-bottom: 4rem;
    grid-template-areas: ". btnLabelClient" "btnLeftClient btnRightClient";
  }
  .main__client .main__client__button__label {
    grid-area: btnLabelClient;
    padding: 0 0 0.5rem 2rem;
  }
  .main__client button.main__client__button__one {
    grid-area: btnLeftClient;
  }
  .main__client button.main__client__button__two {
    grid-area: btnRightClient;
    margin: 0 0 0 2rem;
  }
}
:root {
  --color-gray: #B5B5B5;
  --color-gray-light: #6E6E6E;
  --color-orange: #F89D24;
  --color-white: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Yantramanav", sans-serif;
  color: var(--color-white);
}

button:hover {
  opacity: 0.6;
}

h1 {
  font-size: 2.85rem;
  line-height: 3.875rem;
  font-weight: bold;
}

.container {
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

header,
main,
footer {
  width: 100%;
}

header,
#main .main__home {
  background: linear-gradient(90deg, #1A1A1A 0%, #2C2C2C 100%);
}

#main .main__client {
  background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

#main .main__shine {
  background-color: #000;
  background-image: url("../../image/vector.svg");
  background-repeat: repeat-x;
}

@media only screen and (min-width: 760px) {
  .container {
    max-width: 720px;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1034px) {
  h1 {
    font-size: 4rem;
    line-height: 5.188rem;
  }
  .container {
    max-width: 1120px;
  }
}/*# sourceMappingURL=style.css.map */