@import 'header';
@import 'main';
@import 'footer';

:root{
    --color-gray: #B5B5B5;
    --color-gray-light: #6E6E6E;
    --color-orange: #F89D24;
    --color-white: #FFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Yantramanav', sans-serif;
    color: var(--color-white);
}
button{
    &:hover{
        opacity: 0.6;
    }
}
h1{
    font-size: 2.85rem;
    line-height: 3.875rem;
    font-weight: bold;
}
.container{
    max-width: 330px;
    width: 100%;
    // border: 1px solid #DC4;
    margin: 0 auto;
    padding: 0 0.5rem;
}
header,
main,
footer {
    width: 100%;
}
header,
#main .main__home {
    background: linear-gradient(90deg, #1A1A1A 0%, #2C2C2C 100%);
}
#main .main__client {
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
#main .main__shine{
    background-color: #000;
    background-image: url("../../image/vector.svg");
    background-repeat: repeat-x;
    max-height: 380px;
    height: 380px;
}
@media only screen and (min-width: 760px) {
    .container{
        max-width: 720px;
        padding: 0 1rem;
    }
}
@media only screen and (min-width: 997px) {
    h1{
        font-size: 4rem;
        line-height: 5.188rem;
    }
    .container{
        max-width: 1120px;
    }
}