@import 'header';
@import 'main';
@import 'footer';

:root{
    --color-gray: #B5B5B5;
    --color-gray-light: #6E6E6E;
    --color-gray-dark: #262626;
    --color-orange: #F89D24;
    --color-white: #FFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Yantramanav', sans-serif;
    color: var(--color-white);
    background-color: #000;
}
.main__feedback__left,
.main__feedback__right{
    &:hover{
        border-color: var(--color-white);
    }
}
button{
    &:hover{
        opacity: 0.6;
        transform: scale(1.1);
    }
}
h1{
    font-size: 2.85rem;
    line-height: 3.875rem;
    font-weight: bold;
}
.square{
    width: 6.6rem;
    height: 6.3rem;
    border-right: 1px solid var(--color-orange);
    border-bottom: 1px solid var(--color-orange);
    border-left: 1px solid var(--color-orange);
    margin-bottom: 6rem;
    position: relative;
}
.container{
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
}
header,
main,
footer {
    width: 100%;
}
header,
#main .main__home {
    background: linear-gradient(90deg, #1A1A1A 0%, #2C2C2C 100%);
}
#main .main__client,
#main .main__team,
#main .main__methodology{
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
}
#main .main__client {
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
#main .main__shine{
    background-image: url("../../image/bg_shine.svg");
    background-repeat: repeat-x;
}
#main .main__accordion{
    background-image: url("../../image/teacher_bnw.svg");
    background-size: cover;
    background-position: bottom left;
}
#main .main__feedback{
    background-image: url("../../image/opiniao.svg");
    background-size: cover;
    background-position: center;
}
#main .main__target{
    background-image: url("../../image/negociando.svg");
    background-size: cover;
    background-position: top;
}
@media only screen and (min-width: 760px) {
    .container{
        max-width: 720px;
        padding: 0 1rem;
    }
    .square{
        width: 9.5rem;
        height: 9.4rem;
    }
}
@media only screen and (min-width: 1034px) {
    h1{
        font-size: 4rem;
        line-height: 5.188rem;
    }
    .container{
        max-width: 1120px;
    }
    .square{
        width: 12.5rem;
        height: 12.4rem;
    }
}