@import 'header';
@import 'main';
@import 'footer';

:root{
    --color-gray: #B5B5B5;
    --color-gray-light: #6E6E6E;
    --color-orange: #F89D24;
    --color-white: #FFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Yantramanav', sans-serif;
    color: var(--color-white);
}
button{
    &:hover{
        opacity: 0.6;
    }
}
h1{
    font-size: 2.85rem;
    line-height: 3.875rem;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
header,
#main .main__home,
#main .main__client {
    width: 100vw;
    padding: 0 5.5%;
}

header,
#main .main__home {
    background: linear-gradient(90deg, #1A1A1A 0%, #2C2C2C 100%);
}
#main .main__client {
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1A1A1A 100%);
}
@media only screen and (min-width: 760px) {
    header,
    #main .main__home,
    #main .main__client {
        padding: 0 6%;
    }
}
@media only screen and (min-width: 997px) {
    
    h1{
        font-size: 4rem;
        line-height: 5.188rem;
    }
    header,
    #main .main__home,
    #main .main__client {
        padding: 0 8.5%;
    }
}